html {
		font-size: 125%;
		font-family: 'Lato', sans-serif;
		font-family: 'Open Sans', sans-serif;
		height: 100%;
		/*min-width: 1150px; /*Resize stops at 1115 because we don't wan the navigation list to become two rows and this is before it becomes two rows*/
		}

* {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	font-weight:inherit;
	font-style:inherit;
	font-family:inherit;
	color:inherit;
	text-align:inherit;
	}

body{
	line-height:1;
	font-size:50%;
	height: 94.2%;
	font-family: verdana, san-serif;
	text-align:center;
	background: url('image/Header.png') repeat-x, url('image/clouds.png');
	background-color: #e9f0f4;
}

a{
	text-decoration: none;
}

h1{
	font-size: 40px;
	text-align: left;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	margin-top: 8px;
	margin-left: 3.5%;
	color: #1e71a5;
}

h2{
	font-size: 18px;
	text-align: left;
	font-family: 'Lato', sans-serif;
	margin-left: 3.5%;
	color: #1e71a5;
}

footer{
	/*background: url('image/Footer.png') bottom repeat-x ;*/
	height: 6.9%;
	z-index: 100;
	/*border: solid orange;*/
}

footer p {
	color: black;
}

.gu6 ul{
	text-align: right;
	margin-top: 1%;
	margin-right: 1.5%;
}

.gu6 ul li{
	display: inline;
	font-size: 26px;
	text-align: right; 
	color: white;
	margin-right: 15px;
	font-family: 'Lato', sans-serif;

}

a:active, a:hover{
	color:#b6e2ff;
	background-image: url('image/Header.png');
	text-decoration: none;
}

.page{
	max-width:768px;
	min-height:99%;
	width: 768px;
	position: relative;
	margin-right:auto;
	margin-left: auto;
	padding-right: 0px;
	/*border:1px solid red;/*Grid visualization guide. Remove when publish*/
}

.row {
	position:relative;
	padding:0px;
	/*border:1px solid red;*/
}

.row:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden; 
}

.pg-header {
	width: 100%;
	margin-left: -0.5px;
	/*border:2px solid blue;/*Grid visualization guide. Remove when publish*/
}

.col{
	position:relative;
	float:left;
	/*border:2px solid black;*/
}

.row .gu6{
	width: 100%;
	margin-left: -0.5px;
}

.row .gu6 #PageHeader{
	margin-top: 2.1%;
	padding-left: 1%;
	margin-bottom: 10px;
}

.gu6 #logo{
	text-align: left;
	margin-top: 1.5%;
	float: left;
}

.gu1_5{
	width: 50%;
	padding-top: 2%;
	padding-bottom: 5%;
	float: left;
}

.gu1_5 h1{
	margin-left: 20%;
	margin-top: 0%;
}

.gu1_5 h2{
	padding-left: 17%;

}

.gu1_5 p{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	padding-left: 20.5%;
	padding-right: 6%;
	padding-top: 5%;
	line-height:18px;
	text-align: left;

}

.gu2{
	width: 39%;
	margin-left: 0px;
	padding-left: 0px;
	padding-top: 2%;
	text-align: right;
}

.gu2 h1{
	margin-left: 11%;
	margin-top: 0%;
}

.gu2 h2{
	margin-left: 11%;
	margin-top: 20px;
	margin-bottom: 10px;
}

.gu2 .More-Detail{
	text-align: left;
	line-height:18px;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	margin-right: 5%;
	margin-left: 11.5%;
}

.gu2 ol{
	list-style: circle;
	text-align: left;
	font-size: 12px;
	margin-left: 100px;


}

.gu2_5{
	width: 547px;
}

.gu2_5 p{
	font-size: 12px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
}

.gu3{
	width: 57.5%;
	padding-left: 2.5%;

}

.gu3 p{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height:18px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 35px;
	padding-bottom: 25px;
	text-align: left;
}

.gu3 h1{
	margin-top: 3%;
}

.gu3 h2{
	margin-top: 10px;

}

.gu3 ol{
	font-size: 12px;
	list-style: inside;
	color: black;
	text-align: left; 
	line-height:18px;
	margin-left: 8%;
	color: black;
	font-family: 'Open Sans', sans-serif;
}

.gu4{
	width: 80%;
	padding-left: 80px;
	padding-top: 20px;
}

.pg-content{
	width: 768px;
	margin-left: -0.5px;
	padding-top: 3%;
}

.pg-content .gu1_5 ul{
	list-style: none;
	text-align: left;
	padding-left: 26%;
	padding-top: 25px;
}

.pg-content .gu1_5 ul li{
	font-size: 25px;
	margin-bottom: 10px;

}

.gu6 ul .selected{
	color: #4c82a5;
}

#me{
	width: 80%;
	margin-top: 15%;
	margin-right: 4.2%;
}

#BackgroundImage{
	width: 100%;
	margin-top: 10%;
	padding-right: 50px;
}

#FindingAlice , #AMidSummerDream{
	width: 100%;
}

#FindingAlice-Video{
	margin-top: 12%;
	width: 100%;
}

.Contact-information p{
	margin-top: 8%;
	padding-bottom: 0px;
	text-align: left;
	margin-left: 12%;
	font-size: 12px;
	line-height:18px;
}

.Contact-information h2{
	padding-bottom: 0px;
	text-align: left;
	margin-top: 10px;
	margin-left: 12%;
}


/*-----------------------------------------------
Jquery Slider plugin font-style: 
-------------------------------------------------*/
    /* Prevent the slideshow from flashing on load */
    #slides {
      display: none
    }

    /* Center the slideshow */
    .container {
      margin: 0 auto
    }

    .container p{
      font-size: 12px;
    }

    .container h2{
    	margin-left: -1px;
    	margin-bottom: 10px;
    }

    .slidesjs-next .slidesjs-navigation a{
    	background-image: url('image/Header.png');

    }

    .slidesjs-pagination a{
    	color: black;
    }

    /* Show active item in the pagination */
    .slidesjs-pagination .active {
      color:#1e71a5;
    }

    /* Media quires for a responsive layout */

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 10px;
        padding-right: 10px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
      	margin-top: 8%;
        width: 100%;
      }
    }
/*-----------------------------------------------
ClearBox plugin settings
-------------------------------------------------*/
	.wide {
		/*border-bottom: 1px #000 solid;
		width: 4000px;*/
	}
	
	.fleft { 
		/*float: left; 
		margin: 0 20px 0 0;*/ 
	}
	
	.cboth { 
		clear: both; 
	}
	
	#main {
		/*background: #fff;*/
		margin: 0 auto;
		padding: 30px;
		margin-left: 0px;
		width: 100%;
	}

	#main h2{
		margin-left: -30px;

	}

	.gallery {
		width: 100%;
		margin-left: -50px;
	}

	.ClearImages{
		width: 70px;
		margin-top: 10px;
	}