html {
		font-size: 125%;
		/*min-width: 1150px; /*Resize stops at 1115 because we don't wan the navigation list to become two rows and this is before it becomes two rows*/
		}

* {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	font-weight:inherit;
	font-style:inherit;
	font-family:inherit;
	color:inherit;
	text-align:inherit;
	}

body{
	line-height:1;
	font-size:50%;
	font-family: verdana, san-serif;
	text-align:center;
	background-image: url('image/background.jpg');
}

a{
	text-decoration: none;
}

h1{
	font-size: 40px;
	text-align: right;
	font-weight: bold;
	margin-right: 15.5%;
	font-family: verdana, san-serif;
	margin-top: 8px;
	color: #c6e4c2;
}

a:active, a:hover{
	color:#c6e4c2;
	text-decoration: none;
}

.page{
	max-width: 950px;
	height: auto;
	width: 950px;
	height: 1024px;
	position: relative;
	margin-right:auto;
	margin-left: auto;
	padding-right: 0px;
	background-image: url('image/Header.png');
	background-repeat: no-repeat;
	/*border:1px solid red;/*Grid visualization guide. Remove when publish*/
}

.row {
	position:relative;
	padding:0px;
	margin-left:-20px;
	/*border:1px solid red;*/
}

.row:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden; 
}

.pg-header {
	width: 950px;
	margin-left: -0.5px;
	/*border:2px solid blue;/*Grid visualization guide. Remove when publish*/
}

.col{
	position:relative;
	float:left;
	/*border:2px solid black;*/
}

.row .gu6{
	width: 100%;
	margin-left: -0.5px;
}
.gu6 #logo{
	text-align: left;
	margin-top: 1.5%;
	margin-left: 15px;
	float: left;
}

.gu1_5{
	width: 185px;
	clear: both;

}

.gu2{
	width: 316px;
	margin-left: 0px;
	padding-left: 0px;
	padding-top: 25px;
	text-align: left;
}

.gu2_5{
	width: 395px;
}

.gu2_5 p{
	font-size: 12px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;

}

.pg-content{
	width: 950px;
	margin-left: -0.5px;
}

.pg-content .gu1_5 ul{
	list-style: none;
	text-align: left;
	padding-left: 26%;
	padding-top: 25px;
}

.pg-content .gu1_5 ul li{
	font-size: 25px;
	margin-bottom: 10px;

}

.gu1_5 ul .selected{
	color: white;
}

#me{
	width: 71%;
}